body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

h2, h3, h4 {
  color: #ff6347;
}

a {
  text-decoration: none;
  color: #ff6347;
}

a:hover {
  color: #e5533f;
}

/* Nav */
nav {
  width: 100%;
  padding: 40px;
  text-align: center;
  z-index: 1000;
  background-image: url("../img/bg.jpg");
  
}

nav .nav-container a {
  text-decoration: none;
  color: #464646;
  font-size: 1.25em;
  letter-spacing: 1px;
  margin: 0 15px;
  font-weight: 600;
}

nav .nav-container a:hover {
  color: #e5533f;
  transition: 0.35s ease-in-out;
}



/* Details  */
.recipe-details {
  max-width: 800px;
  margin: 10rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.recipe-details h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.recipe-container img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.recipe-container h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.recipe-container p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.recipe-container ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.recipe-container ul li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}



/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-weight: bolder;
  text-align: center;
  background-image: url("../img/footer.jpg");
}

.footer-container{
  display: flex;
  flex-direction: column;
  gap: 1.75em;
}

.social-media {
  display: flex;
  justify-content: center;
  font-size: 2em;

  gap: 1em;
}

footer a{
  text-decoration: none;
  color: inherit
}